<!DOCTYPE html>
<html>
<head>
    <script>
        const API_ENDPOINT = "http://localhost:6030"
    </script>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>

<div id="viewport">
{{{body}}}
</div>
    <script src="/static/jquery-3.6.0.min.js"></script>
<script src="/static/app.js"></script>
</body>
</html>
